mixin text()
    |'Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat rem quos libero consectetur sunt placeat exercitationem esse, ducimus voluptatem modi perferendis dolorem dolorum soluta nesciunt laboriosam ipsum minima doloremque consequatur tempora dolore impedit hic accusamus. Blanditiis vero reiciendis rerum nobis dolor vitae facere non quam!'